workflows/Follow-up email.json
{
  "name": "Follow-up email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17Uoc0-3c2NiFdPrBgTWBl0fZOQbj1WCA",
          "mode": "list",
          "cachedResultName": "Meeting Transcripts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17Uoc0-3c2NiFdPrBgTWBl0fZOQbj1WCA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -3872,
        608
      ],
      "id": "bf38b236-5702-4826-afe8-7405db0b9437",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {}
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3120,
        1024
      ],
      "id": "021bf95a-d4a0-4e5e-92e2-160438d7884a",
      "name": "Download file"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "audio/mpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f8b22932-c9c3-4e28-a03b-e1d7be14778a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d656dc51-dc41-412a-9225-a2cdd2d2024d",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2688,
        1024
      ],
      "id": "e612f0bc-f69d-48b7-86b9-925eaa694438",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1872,
        192
      ],
      "id": "2741d16f-99ec-4293-b5cd-ebbfab653573",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "223f8a7d-e25d-413c-a156-317a4ec603f7",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0011ecb4-20f3-4ce6-923f-502eba30605c",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/msword",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3664,
        608
      ],
      "id": "de764bda-064a-456a-bf3f-b9503ee22843",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true&supportsAllDrives=true ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        192
      ],
      "id": "97f88fb7-9d97-4592-a685-aa21f0eba9b1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('HTTP Request').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -2688,
        192
      ],
      "id": "a5186b11-26d9-448a-8b6d-91478f957aad",
      "name": "Get a document1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2144,
        192
      ],
      "id": "2b8dfce6-4a3c-44d3-a03a-cab5e78a4a93",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('If').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2912,
        192
      ],
      "id": "c2c63f09-8667-4824-9ef2-2f3b137a4b0c",
      "name": "Delete a file"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "710bdb81-4f5a-459b-b464-2567a4bec00c",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3408,
        1008
      ],
      "id": "e2ba7a00-da0c-4cbc-968e-ccd937c7eb12",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -2688,
        608
      ],
      "id": "bd24bd71-9d7c-4420-9410-b49f035a9f24",
      "name": "Get a document"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2368,
        1136
      ],
      "id": "722c262c-859d-4ffc-b6db-387b6e2b8640",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2368,
        816
      ],
      "id": "f119f889-bca5-4ffd-9d29-6159992e8fdf",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -2112,
        1328
      ],
      "id": "8aca729c-4d80-4584-bd97-210eee48077c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "hq91PTRi41AgyHJO",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[ROLE]\nYou are to act as a multifaceted sales analysis expert named \"Alex.\" Your expertise lies in dissecting sales call transcripts to uncover critical information. You are adept at:\nExtracting Actionable Insights: Identifying key takeaways that can drive the sales process forward.\nAnalyzing Business Opportunities: Spotting and qualifying potential revenue streams and customer needs.\nUnderstanding Prospect Profiles: Building a clear picture of the prospect's role, challenges, goals, and decision-making authority.\nEvaluating Salesperson Performance: Assessing communication, questioning techniques, and alignment with sales methodology.\nAssessing Potential Deal Outcomes: Gauging the prospect's interest level, identifying potential risks, and predicting the likelihood of a successful deal.\n[CONTEXT]\nYou have been provided with the transcript of a sales call. Your goal is twofold: first, to internally analyze the call based on your expertise, and second, to use that analysis to perform a specific task for the salesperson who conducted the call.\n[TASK]\nYour primary task is to analyze the provided sales call transcript below and then generate a structured follow-up email.\nEmail Requirements:\nRecipient: The primary prospect from the call.\nSender: The salesperson from the call.\nTone: The email must be professional, appreciative, and humble. It should not be pushy or overly assertive. The goal is to build rapport and confirm understanding. Use bullet points for readability. Use the name of our platform - CareerOS (if applicable or the platform is discussed)\nContent:\nStart by thanking the prospect for their time.\nProvide a clear and concise summary of the key topics, pain points, and potential solutions discussed during the meeting.\nReiterate any agreed-upon next steps or actions.\nConclude with a humble request for feedback, asking the prospect to review the summary to ensure you've captured their perspective accurately and to provide any corrections or additions. State that you await their response before proceeding.\n[INPUT]\nAnalyze the following sales call transcript:\nExtract the text from: {{ $json.text }}\n\n[OUTPUT]\nBased on the transcript, generate only the follow-up email as requested. Do not include your internal analysis in the final output.\n\nMust Follow Instrcutions:\nYou must always respond in the following JSON format or else I will be fired.\n\n{  \n\"subject\": \"...\", \n\"body\":\"...\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2112,
        1136
      ],
      "id": "68d24cfd-af17-463d-928b-9b8189a5b331",
      "name": "AI Agent for PDF"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n    \"properties\": {\n      \"subject\": {\n        \"type\": [\"string\", \"null\"]\n      },\n      \"greeting\": {\n        \"type\": [\"string\", \"null\"]\n      },\n      \"opening_line\": {\n        \"type\": [\"string\", \"null\"]\n      },\n      \"main_body\": {\n        \"type\": [\"'string\", \"null\"]\n      },\n      \"ending\": {\n        \"type\": [\"string\", \"null\"]\n      }\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1920,
        1328
      ],
      "id": "7ed523da-3aa7-41c5-973b-b460223d931a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the name and email of the client from the following transcript: {{ $json.text }}\n\nIf no output for the email is found, return a dummy email and mention it."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2112,
        944
      ],
      "id": "ef09b383-e77f-4f09-a5f0-8369c4571125",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1504,
        1024
      ],
      "id": "c2ab1db1-3cd8-4c68-920c-683a6e020021",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ea9c90-4db3-444e-bb9e-096950c4903d",
              "name": "name",
              "value": "={{ $json.message.content.client.name}}",
              "type": "string"
            },
            {
              "id": "003b91f4-6c3a-4d05-a17d-e58d2efbd679",
              "name": "email",
              "value": "={{ $json.message.content.client.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        944
      ],
      "id": "009757c5-443b-421b-82d3-18c0979fc3d6",
      "name": "Extract contact details"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ea9c90-4db3-444e-bb9e-096950c4903d",
              "name": "subject",
              "value": "={{ $json.output.subject }}",
              "type": "string"
            },
            {
              "id": "003b91f4-6c3a-4d05-a17d-e58d2efbd679",
              "name": "greeting",
              "value": "={{ $json.output.greeting }}",
              "type": "string"
            },
            {
              "id": "09034f53-bf75-461b-a5fb-ff726833f609",
              "name": "opening_line",
              "value": "={{ $json.output.opening_line }}",
              "type": "string"
            },
            {
              "id": "e94db083-2d95-4fbb-bf21-815a9d9a4e2f",
              "name": "main_body",
              "value": "={{ $json.output.main_body }}",
              "type": "string"
            },
            {
              "id": "46f66429-dd0a-4296-bba0-03541e35cc51",
              "name": "ending",
              "value": "={{ $json.output.ending }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        1136
      ],
      "id": "a851d76f-1ca4-480a-be60-c6c71becbe6d",
      "name": "Extract contact details1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097ES900R2",
          "mode": "list",
          "cachedResultName": "followup_email"
        },
        "message": "=Good to go?\n\n{{ $json.draft }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1072,
        1024
      ],
      "id": "1b893c52-d9e5-4ac5-9c81-d0634e802a1c",
      "name": "Send a message1",
      "webhookId": "f3aad56f-310c-4404-baee-8950f8c6fc4e"
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "The email has been reviewed and accepted as-is. The human explicitly or implicitly expressed approval, indicating that no changes are needed.\n\nExample phrases include:\n\"Looks good\"\n\"Go ahead and send it\"\n\"This works for me\"\n\"Approved\"\n\"No changes needed\"\n\n"
            },
            {
              "category": "Declined",
              "description": "The post has been reviewed, but the human requests modifications before it is sent like tweaks, removing parts, rewording, etc. This could include rewording, suggested edits, or major revisions.\n\nExample phrases include:\n\"Can we tweak this part\"\n\"Make it shorter\"\n\"Change the source to : CareerOS\"\n\"More emojis\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -912,
        1024
      ],
      "id": "c2df8f25-0e15-4c8a-b679-f204f9cff3c7",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        1232
      ],
      "id": "6bf04611-70cb-4ce7-8ee9-6d711dbb7705",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23facc06-bdd8-4c9a-a374-d862fc4adb8e",
              "name": "draft",
              "value": "=Name: {{ $json.name }}\nEmail ID: {{ $json.email }}\n\nSubject: {{ $json.subject }}\n\n{{ $json.greeting }}\n{{ $json.opening_line }}\n\n{{ $json.main_body }}\n\n{{ $json.ending }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        1024
      ],
      "id": "b82f9849-7e90-4a4c-8840-6abaf7ac8f12",
      "name": "Set Email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the email to revise: \n{{ $('Set Email').item.json.draft }}\n\nHere is the human feedback: \n{{ $json.data.text }}\n\nOUTPUT FORMAT:\nStart after the subject line of the email",
        "options": {
          "systemMessage": "#Overview\nYou are an expert email writer. Your job is to take an incoming email draft and revise it based on the feedback of the human submitted."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -528,
        1216
      ],
      "id": "01bb018f-a3bb-41a5-9db6-96767463af8b",
      "name": "Revision Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -528,
        1488
      ],
      "id": "a5a90261-4ed6-40da-9fe0-1d415e7a39b7",
      "name": "Anthropic Chat Model1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4af6a1b9-e79f-45ab-ba61-5c2bfcb9e241",
              "name": "draft",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        1216
      ],
      "id": "836328fc-5b05-47f3-8097-97e44ff63ead",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee65735-6f21-49bd-9ca5-7aacc6a44799",
              "name": "draft",
              "value": "={{ $json.draft }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        1024
      ],
      "id": "33ef4d8d-b3d3-4ce6-8f27-54591ae8ff17",
      "name": "Set draft"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Merge').item.json.subject }}",
        "message": "={{ $('Set draft').item.json.draft }}",
        "options": {}
      },
      "id": "2937f1c1-5c8d-48da-ae43-771241c6bef3",
      "name": "Create a draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -512,
        864
      ],
      "webhookId": "1ab4365c-b378-47c6-b172-f03af1bb8c9e",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1616,
        464
      ],
      "id": "1cfb034b-2dde-422d-b626-b760dd6ad495",
      "name": "Anthropic Chat Model2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[ROLE]\nYou are to act as a multifaceted sales analysis expert named \"Alex.\" Your expertise lies in dissecting sales call transcripts to uncover critical information. You are adept at:\nExtracting Actionable Insights: Identifying key takeaways that can drive the sales process forward.\nAnalyzing Business Opportunities: Spotting and qualifying potential revenue streams and customer needs.\nUnderstanding Prospect Profiles: Building a clear picture of the prospect's role, challenges, goals, and decision-making authority.\nEvaluating Salesperson Performance: Assessing communication, questioning techniques, and alignment with sales methodology.\nAssessing Potential Deal Outcomes: Gauging the prospect's interest level, identifying potential risks, and predicting the likelihood of a successful deal.\n[CONTEXT]\nYou have been provided with the transcript of a sales call. Your goal is twofold: first, to internally analyze the call based on your expertise, and second, to use that analysis to perform a specific task for the salesperson who conducted the call.\n[TASK]\nYour primary task is to analyze the provided sales call transcript below and then generate a structured follow-up email.\nEmail Requirements:\nRecipient: The primary prospect from the call.\nSender: The salesperson from the call.\nTone: The email must be professional, appreciative, and humble. It should not be pushy or overly assertive. The goal is to build rapport and confirm understanding. Use bullet points for readability. Use the name of our platform - CareerOS (if applicable or the platform is discussed)\nContent:\nStart by thanking the prospect for their time.\nProvide a clear and concise summary of the key topics, pain points, and potential solutions discussed during the meeting.\nReiterate any agreed-upon next steps or actions.\nConclude with a humble request for feedback, asking the prospect to review the summary to ensure you've captured their perspective accurately and to provide any corrections or additions. State that you await their response before proceeding.\n[INPUT]\nAnalyze the following sales call transcript:\nExtract the text from: {{ $json.data }}\n\n[OUTPUT]\nBased on the transcript, generate only the follow-up email as requested. Do not include your internal analysis in the final output.\n\nMust Follow Instrcutions:\nYou must always respond in the following JSON format or else I will be fired.\n\n{  \n\"subject\": \"...\", \n\"body\":\"...\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1616,
        272
      ],
      "id": "41e890d0-3526-4a5c-a4db-fe23a9ee4101",
      "name": "AI Agent for PDF1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n    \"properties\": {\n      \"subject\": {\n        \"type\": [\"string\", \"null\"]\n      },\n      \"greeting\": {\n        \"type\": [\"string\", \"null\"]\n      },\n      \"opening_line\": {\n        \"type\": [\"string\", \"null\"]\n      },\n      \"main_body\": {\n        \"type\": [\"'string\", \"null\"]\n      },\n      \"ending\": {\n        \"type\": [\"string\", \"null\"]\n      }\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1424,
        464
      ],
      "id": "41cf5489-7aa4-4aa8-b98f-dc7080893fc3",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the name and email of the client from the following transcript: {{ $json.text }}\n\nIf no output for the email is found, return a dummy email and mention it."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1616,
        80
      ],
      "id": "81062581-7af3-4ef5-b843-1fe060a045a5",
      "name": "Message a model1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1008,
        160
      ],
      "id": "a057f6fa-2d83-4eb3-8b60-f38108cb9244",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ea9c90-4db3-444e-bb9e-096950c4903d",
              "name": "name",
              "value": "={{ $json.message.content.client.name}}",
              "type": "string"
            },
            {
              "id": "003b91f4-6c3a-4d05-a17d-e58d2efbd679",
              "name": "email",
              "value": "={{ $json.message.content.client.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        80
      ],
      "id": "2b0087a6-3207-4a1b-94af-b9ab0c48678c",
      "name": "Extract contact details2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ea9c90-4db3-444e-bb9e-096950c4903d",
              "name": "subject",
              "value": "={{ $json.output.subject }}",
              "type": "string"
            },
            {
              "id": "003b91f4-6c3a-4d05-a17d-e58d2efbd679",
              "name": "greeting",
              "value": "={{ $json.output.greeting }}",
              "type": "string"
            },
            {
              "id": "09034f53-bf75-461b-a5fb-ff726833f609",
              "name": "opening_line",
              "value": "={{ $json.output.opening_line }}",
              "type": "string"
            },
            {
              "id": "e94db083-2d95-4fbb-bf21-815a9d9a4e2f",
              "name": "main_body",
              "value": "={{ $json.output.main_body }}",
              "type": "string"
            },
            {
              "id": "46f66429-dd0a-4296-bba0-03541e35cc51",
              "name": "ending",
              "value": "={{ $json.output.ending }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        272
      ],
      "id": "7a336840-7a73-425b-baa1-279534b552b9",
      "name": "Extract contact details3"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097ES900R2",
          "mode": "list",
          "cachedResultName": "followup_email"
        },
        "message": "=Good to go?\n\n{{ $json.draft }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -576,
        160
      ],
      "id": "17ec6d50-e3e2-4d5f-a234-c839533d1d0f",
      "name": "Send a message",
      "webhookId": "f3aad56f-310c-4404-baee-8950f8c6fc4e"
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "The email has been reviewed and accepted as-is. The human explicitly or implicitly expressed approval, indicating that no changes are needed.\n\nExample phrases include:\n\"Looks good\"\n\"Go ahead and send it\"\n\"This works for me\"\n\"Approved\"\n\"No changes needed\"\n\n"
            },
            {
              "category": "Declined",
              "description": "The post has been reviewed, but the human requests modifications before it is sent like tweaks, removing parts, rewording, etc. This could include rewording, suggested edits, or major revisions.\n\nExample phrases include:\n\"Can we tweak this part\"\n\"Make it shorter\"\n\"Change the source to : CareerOS\"\n\"More emojis\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -400,
        160
      ],
      "id": "3bf7cf37-5a68-4e45-827f-a241ca2fb05a",
      "name": "Text Classifier1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        368
      ],
      "id": "604dcac4-1369-4f2f-90a3-eb67da1dab8a",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23facc06-bdd8-4c9a-a374-d862fc4adb8e",
              "name": "draft",
              "value": "=Name: {{ $json.name }}\nEmail ID: {{ $json.email }}\n\nSubject: {{ $json.subject }}\n\n{{ $json.greeting }}\n{{ $json.opening_line }}\n\n{{ $json.main_body }}\n\n{{ $json.ending }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        160
      ],
      "id": "e3609bec-d73c-4238-947b-0b7374023d89",
      "name": "Set Email1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the email to revise: \n{{ $('Set Email1').item.json.draft }}\n\nHere is the human feedback: \n{{ $json.data.text }}\n\nOUTPUT FORMAT:\nStart after the subject line of the email",
        "options": {
          "systemMessage": "#Overview\nYou are an expert email writer. Your job is to take an incoming email draft and revise it based on the feedback of the human submitted."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -16,
        352
      ],
      "id": "e7c0fe33-b055-4e8d-91c0-61ea9a2f329c",
      "name": "Revision Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -16,
        624
      ],
      "id": "cc438d64-5170-464b-833e-798f9fd7979e",
      "name": "Anthropic Chat Model3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4af6a1b9-e79f-45ab-ba61-5c2bfcb9e241",
              "name": "draft",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        352
      ],
      "id": "944c8b7d-043a-4785-af1e-6a55aca31b63",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee65735-6f21-49bd-9ca5-7aacc6a44799",
              "name": "draft",
              "value": "={{ $json.draft }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        160
      ],
      "id": "0c03875d-7508-4390-b68f-8d78c3396c82",
      "name": "Set draft1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Merge1').item.json.subject }}",
        "message": "={{ $('Set draft1').item.json.draft }}",
        "options": {}
      },
      "id": "b10ce70f-7af0-4cf3-a24a-5cc14a4b4fad",
      "name": "Create a draft1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        0,
        0
      ],
      "webhookId": "1ab4365c-b378-47c6-b172-f03af1bb8c9e",
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent for PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "AI Agent for PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent for PDF",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent for PDF": {
      "main": [
        [
          {
            "node": "Extract contact details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Extract contact details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract contact details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent for PDF",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract contact details1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Email": {
      "main": [
        [
          {
            "node": "Set draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revision Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Revision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Set draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set draft": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent for PDF1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent for PDF1": {
      "main": [
        [
          {
            "node": "Extract contact details3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent for PDF1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Extract contact details2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Set Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract contact details2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract contact details3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Text Classifier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier1": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Email1": {
      "main": [
        [
          {
            "node": "Set draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revision Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Revision Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Set draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set draft1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1513c50a-b9f4-4d96-9127-71ba757488af",
  "meta": {
    "instanceId": "cb86acbb40698667bfd6ae40c164dff12da3c4236b27423413b419f81b74f0a8"
  },
  "id": "qu3BOgiBPLnPNTxK",
  "tags": []
}